<toaster-container></toaster-container>
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <mat-icon class="menu-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <a routerLink='stock' mat-menu-item>Products</a>
        <a routerLink='customer' mat-menu-item>Customers</a>
        <a routerLink='' mat-menu-item>Sales</a>
      </mat-menu>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon class="menu-icon" [matMenuTriggerFor]="logoutMenu">more_vert</mat-icon>
    <mat-menu #logoutMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>