.login-container{
    display: flex;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}
.example-card {
    width: 90%;
    padding:1em;
}
.card-container{
    width: 90%;
    margin: auto;
}
.form-container *{
    width: 100% !important;
}
.card-container button{
    margin-top: 1em;
}
.message-label{
    width: 100%;
    padding: 15px;
    background-color: #f44336;
    color: white;
}
.spacer {
    display: flex;
    justify-content: space-evenly;
    padding:1em;
    font-size: 1em;
    background-color: rgb(103,58,183,0.8);
    margin-top: 1em;
    border-radius: 0.2em;
    color: #fff;
  }