<div class="login-container">
  <mat-card class="example-card">
      <div class="card-container">
          <mat-card-header>
              <mat-card-title>New Customer</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="customerCreationForm">
                  <div class="form-container">
                      <mat-form-field>
                        <input [formControl]="customerCreationFields.cust_phone" matInput placeholder="Phone Number">
                        <mat-error>Enter a value for phone number</mat-error>
                      </mat-form-field>
                    
                      <mat-form-field>
                        <input [formControl]="customerCreationFields.cust_name" type="text" matInput placeholder="Name">
                        <mat-error>Please enter a value Name</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input [formControl]="customerCreationFields.cust_addr" type="text" matInput placeholder="Address">
                        <mat-error>Enter Valid Address</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input [formControl]="customerCreationFields.cust_email" type="email" matInput placeholder="Email">
                        <mat-error>Enter Valid Email</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input [formControl]="customerCreationFields.cust_dob" type="date" matInput placeholder="DOB">
                        <mat-error>Enter valid Date</mat-error>
                      </mat-form-field>
                    </div>
              </form>
              <button (click)="createCustomer()" [disabled]="!customerCreationForm.valid" mat-stroked-button color="primary">Create</button>
              <span *ngIf="httpResMessage" class="spacer">
                  <span>{{httpResMessage}}</span>
              </span>
            </mat-card-content>
      </div>
    </mat-card>
</div>
