<!-- <mat-grid-list cols="2" rows="6" rowHeight="120px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="6">
        <mat-grid-tile-header>List of Stock Groups</mat-grid-tile-header>
        <app-stock-group-list></app-stock-group-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="6">
        <mat-grid-tile-header>Add New Stock Group(s)</mat-grid-tile-header>
    </mat-grid-tile>
  </mat-grid-list> -->
  <app-stock-group-list></app-stock-group-list>